	repositoryformatversion = 0
	filemode = false
	bare = false
	logallrefupdates = true
	symlinks = false
	ignorecase = true
[remote "origin"]
	url = https://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@github.com/guptadhiraj334/Dhiraj.git
	fetch = +refs/heads/*:refs/remotes/origin/*